<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Genius Car Repair - Panel
  </title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../front-end/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../front-end/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../front-end/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../../front-end/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="../../front-end/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../../back-end/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="../../back-end/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../../back-end/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>