<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Genius Variasi - Panel</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../back-end/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../../back-end/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="../../back-end/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="../../back-end/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../../back-end/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../back-end/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
        rel="stylesheet">
    <!-- animation CSS -->
    <link href="../../back-end/assets/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../back-end/assets/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../../back-end/assets/css/colors/default.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header">