 <!-- Include Header -->
 <%- include front-end/layout/header.ejs %>

 <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

     <div class="site-wrap">

         <div class="site-mobile-menu site-navbar-target">
             <div class="site-mobile-menu-header">
                 <div class="site-mobile-menu-close mt-3">
                     <span class="icon-close2 js-menu-toggle"></span>
                 </div>
             </div>
             <div class="site-mobile-menu-body"></div>
         </div>


         <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

             <div class="container-fluid">
                 <div class="d-flex align-items-center">
                     <div class="site-logo mr-auto w-25"><a href="/"><img src="front-end/images/logo.png"
                                 style="width:40%"></a></div>

                     <div class="ml-auto w-25">
                         <nav class="site-navigation position-relative text-right" role="navigation">
                             <ul
                                 class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                 <li class="cta"><a href="https://wa.me/6281340304070" target="_blank"
                                         class="nav-link"><span>Contact Us</span></a></li>
                             </ul>
                         </nav>
                         <a href="#"
                             class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                                 class="icon-menu h3"></span></a>
                     </div>
                 </div>
             </div>

         </header>

         <div class="intro-section single-cover" id="home-section">

             <div class="slide-1 " style="background-image: url('front-end/images/hero_1.jpg');"
                 data-stellar-background-ratio="0.5">
                 <div class="container">
                     <div class="row align-items-center">
                         <div class="col-12">
                             <div class="row justify-content-center align-items-center text-center">
                                 <div class="col-lg-6">
                                     <h1 data-aos="fade-up" data-aos-delay="0">Service Booking System</h1>
                                     <p data-aos="fade-up" data-aos-delay="100">&bullet; Genius Car Repair Details
                                         Booking System</p>
                                 </div>

                             </div>
                         </div>

                     </div>
                 </div>
             </div>
         </div>

         <div class="site-section">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-8" style="margin: auto">

                         <h3 class="text-black">Course Description</h3>
                         <p class="mb-4">
                             <strong class="text-black mr-3">Schedule: </strong>
                         </p>

                         <form action="/book1/details" method="post" class="form-box">
                             <h3 class="h4 text-black mb-4">Booking Service System.</h3>
                             <!-- Error and Success Message -->
                             <% if(messages.error){ %>
                             <h4 style="color:#d82436">Booking Gagal!</h4>
                             <!-- <p style="color:#d82436">Insert the <b style="color:#d82436">Service Data</b> correctly.</p> -->
                             <!-- </br> -->
                             <%} else if(messages.success){ %>
                             <h4 style="color:#5cb85c">Booking Sukses!</h4>
                             <!-- <p>Successfully insert the <b style="color:#5cb85c">Service Data</b>.</p> -->
                             </br>
                             <% } %>
                             <h3 class="h4 text-black mb-4">Data Personal Anda.</h3>
                             <!-- Data Personal -->
                             <div class="form-group">
                                 <input type="text" class="form-control" name="namaPemilik" placeholder="Nama Pemilik"
                                     value="<%= namaPemilik %>" required>
                             </div>
                             <div class="form-group">
                                 <input type="text" class="form-control" name="alamat" placeholder="Alamat" required>
                             </div>
                             <div class="form-group">
                                 <input type="text" class="form-control" name="nomorTelepon" placeholder="Nomor Telepon"
                                     required>
                             </div>
                             <div class="form-group">
                                 <input type="date" id="bookingDate" class="form-control" name="tanggalService"
                                     placeholder="Tanggal Service" value="<%= tanggalService %>" required>
                             </div>
                             <h3 class="h4 text-black mb-4">Data Kendaraan Anda.</h3>
                             <!-- Data Kendaraan -->
                             <div class="form-group">
                                 <select class="form-control" onchange="onSelectMerk(this)" name="merkMobil" required>
                                     <option disabled selected>Pilih Merk Mobil</option>
                                     <option value="Toyota">Toyota</option>
                                     <option value="Honda">Honda</option>
                                     <option value="Suzuki">Suzuki</option>
                                     <option value="Hyundai">Hyundai</option>
                                     <option value="Nissan">Nissan</option>
                                     <option value="Datsun">Datsun</option>
                                     <option value="Daihatsu">Daihatsu</option>
                                     <option value="Chevrolet">Chevrolet</option>
                                     <option value="Ford">Ford</option>
                                 </select>
                             </div>
                             <!-- Validation -->
                             <script>
                                 function onSelectMerk(merkMobil) {
                                     switch (merkMobil.value) {
                                         case "Toyota":
                                             document.getElementById("toyota").style.display = "block";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Honda":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "block";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Suzuki":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "block";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Hyundai":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "block";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Nissan":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "block";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Datsun":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "block";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Daihatsu":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "block";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Chevrolet":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "block";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         case "Ford":
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "block";
                                             document.getElementById("perawatanMobil").style.display = "block";
                                             break;
                                         default:
                                             document.getElementById("toyota").style.display = "none";
                                             document.getElementById("honda").style.display = "none";
                                             document.getElementById("suzuki").style.display = "none";
                                             document.getElementById("hyundai").style.display = "none";
                                             document.getElementById("nissan").style.display = "none";
                                             document.getElementById("datsun").style.display = "none";
                                             document.getElementById("daihatsu").style.display = "none";
                                             document.getElementById("chevrolet").style.display = "none";
                                             document.getElementById("ford").style.display = "none";
                                             document.getElementById("perawatanMobil").style.display = "none";
                                     }
                                 }
                             </script>
                             <!-- Model Kendaraan -->
                             <!-- Toyota -->
                             <div id="toyota" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Agya">Agya</option>
                                     <option value="Avanza">Avanza</option>
                                     <option value="Calya">Calya</option>
                                     <option value="Yaris">Yaris</option>
                                     <option value="Sienta">Sienta</option>
                                     <option value="Hilux">Hilux</option>
                                     <option value="Fortuner">Fortuner</option>
                                     <option value="Rush">Rush</option>
                                     <option value="Innova">Innova</option>
                                     <option value="Vellfire">Vellfire</option>
                                     <option value="Alphard">Alphard</option>
                                     <option value="Vios">Vios</option>
                                     <option value="Altis">Altis</option>
                                     <option value="C-HR">C-HR</option>
                                     <option value="Camry">Camry</option>
                                     <option value="FT-86">FT-86</option>
                                 </select>
                             </div>
                             <!-- Honda -->
                             <div id="honda" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Civic">Civic</option>
                                     <option value="C-RV">C-RV</option>
                                     <option value="City">City</option>
                                     <option value="HR-V">HR-V</option>
                                     <option value="BR-V">BR-V</option>
                                     <option value="Mobilio">Mobilio</option>
                                     <option value="Jazz">Jazz</option>
                                     <option value="Brio">Brio</option>
                                 </select>
                             </div>
                             <!-- Suzuki -->
                             <div id="suzuki" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Carry">Carry</option>
                                     <option value="Ertiga">Ertiga</option>
                                     <option value="Baleno">Baleno</option>
                                     <option value="Ignis">Ignis</option>
                                     <option value="Karimun">Karimun</option>
                                     <option value="APV">APV</option>
                                     <option value="SX 4">SX 4</option>
                                 </select>
                             </div>
                             <!-- Hyundai -->
                             <div id="hyundai" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Kona">Kona</option>
                                     <option value="Santafe">Santafe</option>
                                     <option value="Grand i10">Grand i10</option>
                                     <option value="i20">i20</option>
                                     <option value="Tucson">Tucson</option>
                                     <option value="Starex">Starex</option>
                                     <option value="H-1">H-1</option>
                                     <option value="Avega">Avega</option>
                                 </select>
                             </div>
                             <!-- Nissan -->
                             <div id="nissan" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Livina">Livina</option>
                                     <option value="X-Trail">X-Trail</option>
                                     <option value="Terra">Terra</option>
                                     <option value="Navara">Navara</option>
                                     <option value="Serena">Serena</option>
                                     <option value="Livina X-Gear">Livina X-Gear</option>
                                 </select>
                             </div>
                             <!-- Datsun -->
                             <div id="datsun" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Cross">Cross</option>
                                     <option value="Got">Got</option>
                                     <option value="Go">Go</option>
                                 </select>
                             </div>
                             <!-- Daihatsu -->
                             <div id="daihatsu" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Ayla">Ayla</option>
                                     <option value="Xenia">Xenia</option>
                                     <option value="Sigra">Sigra</option>
                                     <option value="Hi-Max">Hi-Max</option>
                                     <option value="Terios">Terios</option>
                                     <option value="Sirion">Sirion</option>
                                     <option value="Luxio">Luxio</option>
                                     <option value="Grandmax Minibus">Grandmax Minibus</option>
                                     <option value="Grandmax Pickup">Grandmax Pickup</option>
                                 </select>
                             </div>
                             <!-- Chevrolet -->
                             <div id="chevrolet" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Captiva">Captiva</option>
                                     <option value="Trax">Trax</option>
                                     <option value="Spark">Spark</option>
                                     <option value="Orlando">Orlando</option>
                                     <option value="Aveo">Aveo</option>
                                 </select>
                             </div>
                             <!-- Ford -->
                             <div id="ford" style="display:none" class="form-group">
                                 <select class="form-control" name="modelMobil" required>
                                     <option disabled selected>Pilih Model Mobil</option>
                                     <option value="Ranger">Ranger</option>
                                     <option value="Focus">Focus</option>
                                     <option value="Fiesta">Fiesta</option>
                                     <option value="Everest">Everest</option>
                                     <option value="Eco-sport">Eco-sport</option>
                                 </select>
                             </div>
                             <!-- Jenis Perawatan -->
                             <div id="perawatanMobil" style="display:none" class="form-group">
                                 <select class="form-control" onchange="onSelectPerawatan(this)" name="jenisPerawatan"
                                     required>
                                     <option disabled selected>Pilih Jenis Perawatan Mobil</option>
                                     <option value="Perawatan Khusus">Perawatan Khusus</option>
                                     <option value="Variasi / Aksesoris Tambahan">Variasi / Aksesoris Tambahan</option>
                                     <option value="Car Care">Car Care</option>
                                 </select>
                             </div>
                             <!-- Validasi Jenis Perawatan -->
                             <script>
                                 function onSelectPerawatan(jenisPerawatan) {
                                     switch (jenisPerawatan.value) {
                                         case "Perawatan Khusus":
                                             document.getElementById("khusus").style.display = "block";
                                             document.getElementById("variasi").style.display = "none";
                                             document.getElementById("carCare").style.display = "none";
                                             break;
                                         case "Variasi / Aksesoris Tambahan":
                                             document.getElementById("khusus").style.display = "none";
                                             document.getElementById("variasi").style.display = "block";
                                             document.getElementById("carCare").style.display = "none";
                                             break;
                                         case "Car Care":
                                             document.getElementById("khusus").style.display = "none";
                                             document.getElementById("variasi").style.display = "none";
                                             document.getElementById("carCare").style.display = "block";
                                             break;
                                         default:
                                             document.getElementById("khusus").style.display = "none";
                                             document.getElementById("variasi").style.display = "none";
                                             document.getElementById("carCare").style.display = "none";
                                     }
                                 }
                             </script>
                             <!-- Detail Perawatan -->
                             <!-- Perawatan Khusus -->
                             <div id="khusus" style="display:none" class="form-group">
                                 <select class="form-control" name="detailPerawatan" required>
                                     <option disabled selected>Pilih Detail Perawatan Mobil</option>
                                     <option value="Kampas Rem">Kampas Rem</option>
                                     <option value="Kampas Kopling">Kampas Kopling</option>
                                     <option value="Shock Breaker">Shock Breaker</option>
                                     <option value="Service AC">Servis AC</option>
                                     <option value="Servis Berkala">Servis Berkala</option>
                                     <option value="Ban">Ban</option>
                                     <option value="Aki">Aki</option>
                                     <option value="Servis Radiator">Servis Radiator</option>
                                     <option value="Lahar Roda">Lahar Roda</option>
                                 </select>
                             </div>
                             <!-- Variasi / Aksesoris Tambahan -->
                             <div id="variasi" style="display:none" class="form-group">
                                 <select class="form-control" name="detailPerawatan" required>
                                     <option disabled selected>Pilih Detail Perawatan Mobil</option>
                                     <option value="Kampas Rem">Kaca Film</option>
                                     <option value="Cover Jok">Cover Jok</option>
                                     <option value="Bumper Clip">Bumper Clip</option>
                                     <option value="Tape Layar">Tape Layar</option>
                                     <option value="Tape Klasik">Tape Klasik</option>
                                     <option value="Kamera Mundur">Kamera Mundur</option>
                                     <option value="Start Engine System">Start Engine System</option>
                                     <option value="Alarm">Alarm</option>
                                     <option value="Karpet Dasar">Karpet Dasar</option>
                                     <option value="Bumper Depan">Bumper Depan</option>
                                     <option value="Bumper Belakan">Bumper Belakang</option>
                                 </select>
                             </div>
                             <!-- Car Care -->
                             <div id="carCare" style="display:none" class="form-group">
                                 <select class="form-control" name="detailPerawatan" required>
                                     <option disabled selected>Pilih Detail Perawatan Mobil</option>
                                     <option value="Cuci Mobil Luar dan Dalam">Cuci Mobil Luar dan Dalam</option>
                                     <option value="Poles Full Body">Poles Full Body</option>
                                 </select>
                             </div>
                             <h3 class="h4 text-black mb-4">Kalkulasi Harga.</h3>
                             <div class="form-group">
                                 <input type="text" class="form-control" name="totalHarga" placeholder="Total Harga"
                                     required>
                             </div>
                             <div class="form-group">
                                 <input type="submit" class="btn btn-primary btn-pill" value="Book Sekarang">
                             </div>
                         </form>

                     </div>
                 </div>
             </div>
         </div>

         <footer class="footer-section bg-light">
             <div class="container">
                 <div class="row">
                     <div class="col-md-4">
                         <h3>Genius Car Repair</h3>
                         <p>Kami hadir sebagai partner mobil anda dalam segala situasi kerusakan. Kami menjamin kualitas
                             perawatan dan layanan yang kami berikan, because we are the geniuses!</p>
                     </div>

                     <div class="col-md-3 ml-auto">
                         <h3>Hubungi Kami</h3>
                         <ul class="list-unstyled footer-links">
                             <p><b>CV.INDO OTOGENIUS</b></p>
                             <p>Genius Variasi</p>
                             <p>Jl. Veteran Selatan No.182</p>
                             <p>Makassar, Indonesia.</p>
                         </ul>
                     </div>

                     <div class="col-md-4">
                         <h3>Temukan Kami</h3>
                         <p><img src="front-end/images/socialmedia/instagram.png" style="width: 9%"><a
                                 href="https://www.instagram.com/geniusvariasi/" target="_blank"> @geniusvariasi</a></p>
                         <p><img src="front-end/images/socialmedia/whatsapp.png" style="width: 9%"><a
                                 href="https://wa.me/6281340304070" target="_blank"> +6281340304070</a></p>
                         <p><img src="front-end/images/socialmedia/gmail.png" style="width: 9%"><a href="mailto:#"
                                 target="_blank">
                                 hello@genius.com</a></p>
                     </div>

                 </div>

                 <div class="row pt-5 mt-5 text-center">
                     <div class="col-md-12">
                         <div class="border-top pt-5">
                             <p>
                                 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                 Copyright &copy;<script>
                                     document.write(new Date().getFullYear());
                                 </script> All rights reserved | This template is made with <i class="icon-heart"
                                     aria-hidden="true"></i> by <a href="https://colorlib.com"
                                     target="_blank">Colorlib</a> &
                                 develop by <a href="http://metrotechdigital.asia" target="_blank">MetroTech Digital
                                     Asia.</a>
                                 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                             </p>
                         </div>
                     </div>

                 </div>
             </div>
         </footer>

     </div> <!-- .site-wrap -->

     <!-- Include Footer -->
     <%- include front-end/layout/footer.ejs %>