<!-- Include Header -->
<%- include front-end/layout/header.ejs %>

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto w-25"><a href="index.html"><img src="front-end/images/logo.png"
                            style="width:40%"></a></div>

                <div class="mx-auto text-center">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li><a href="#home-section" class="nav-link">Home</a></li>
                            <li><a href="#programs-section" class="nav-link">Proses Kerja Kami</a></li>
                            <li><a href="#teachers-section" class="nav-link">Tentang Kami</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="ml-auto w-25">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                            <li class="cta"><a href="https://wa.me/6281340304070" target="_blank"
                                    class="nav-link"><span>Contact Us</span></a></li>
                        </ul>
                    </nav>
                    <a href="#"
                        class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                            class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>

    </header>

    <div class="intro-section" id="home-section">

        <div class="slide-1" style="background-image: url('front-end/images/hero_1.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                <h1 data-aos="fade-up" data-aos-delay="100">Perawatan Mobil Dirumah Anda.</h1>
                                <p class="mb-4" data-aos="fade-up" data-aos-delay="200">One Stop Solution | Servis Cepat
                                    Dirumah Dengan Estimasi Biaya Servis Yang Terjamin.</p>
                                <p data-aos="fade-up" data-aos-delay="300"><a href="#"
                                        class="btn btn-primary py-3 px-5 btn-pill">Learn More</a></p>

                            </div>

                            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                <form action="" method="post" class="form-box">
                                    <h3 class="h4 text-black mb-4">Booking Service System.</h3>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nama Pemilik">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Merk Mobil">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Tanggal Service">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-pill" value="Book Sekarang">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-section courses-title" id="courses-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Keuntungan Bersama Genius Car Repair</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">

                <div class="owl-carousel col-12 nonloop-block-14">

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="front-end/images/advantages/easy.jpg" alt="Image"
                                    class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <h3><a href="#">Cepat dan Mudah</a></h3>
                            <p>Layanan kami tersedia dalam 24/7 secara online. Mekanik kami akan datang ke tempat anda,
                                meskipun di waktu libur.</p>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="front-end/images/advantages/price.jpg" alt="Image"
                                    class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <h3><a href="#">Harga yang Transparant</a></h3>
                            <p>Kami menawarkan harga yang jelas di website kami. Dan tentunya lebih murah jika
                                dibandingkan dengan harga pasaran.</p>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="front-end/images/advantages/original.jpg" alt="Image"
                                    class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <h3><a href="#">Kualitas Spareparts Original</a></h3>
                            <p>Semua spareparts yang kami sediakan adalah Geniune OES/OEM parts. Kualiatas barang
                                menjadi hal terpenting bagi kami.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="site-section" id="programs-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Proses Kerja Kami</h2>
                    <p>Berikut merupakan proses kerja kami.</p>
                </div>
            </div>
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img src="front-end/images/process/1.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">Pilih Jenis Mobil</h2>
                    <p class="mb-4">Pilih jenis mobil yang akan ada servis.</p>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="front-end/images/process/2.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">Pilih Jenis Perawatan Mobil</h2>
                    <p class="mb-4">Pilih jenis perawatan mobil sesuai dengan kebutuhan anda.</p>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img src="front-end/images/process/3.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">Estimasi Biaya Perawatan</h2>
                    <p class="mb-4">Dengan memilih jenis mobil dan jenis perawatan, anda akan melihat estimasi
                        pembayaran servis.</p>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="front-end/images/process/4.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">Book and Enjoy</h2>
                    <p class="mb-4">Silahkan menikmati layanan kami.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="site-section" id="teachers-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Tentang Kami</h2>
                    <p class="mb-5">Genius Car Repairs adalah sebuah perusahaan resmi yang siap melayani kerusakan mobil
                        anda dengan estimasi harga yang murah dan berkualitas. Kami hadir sebagai partner mobil anda
                        dalam segala situasi kerusakan. Kami menjamin kualitas perawatan dan layanan yang kami berikan,
                        because we are the geniuses!</p>
                </div>
            </div>

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title" style="font-size: 2rem">We are ready to service most of makes and models.
                    </h2>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="teacher text-center">
                        <img src="front-end/images/carlist/hyundai.png" alt="Image"
                            class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Hyundai</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="teacher text-center">
                        <img src="front-end/images/carlist/honda.png" alt="Image"
                            class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Honda</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="teacher text-center">
                        <img src="front-end/images/carlist/suzuki.png" alt="Image"
                            class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Suzuki</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="teacher text-center">
                        <img src="front-end/images/carlist/toyota.png" alt="Image"
                            class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Toyota</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="teacher text-center">
                        <img src="front-end/images/carlist/nissan.png" alt="Image"
                            class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Nissan</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="teacher text-center">
                        <img src="front-end/images/carlist/ford.png" alt="Image"
                            class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Ford</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="site-section bg-image overlay" style="background-image: url('front-end/images/hero_1.jpg');">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center testimony">
                    <img src="front-end/images/dguki.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                    <h3 class="mb-4">Dg. Uki</h3>
                    <blockquote>
                        <p>&ldquo; Pelayanan yang bagus, cepat dan berkualitas, saya merekomendasikan anda untuk servis
                            disini. &rdquo;</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Genius Car Repair</h3>
                    <p>Kami hadir sebagai partner mobil anda dalam segala situasi kerusakan. Kami menjamin kualitas
                        perawatan dan layanan yang kami berikan, because we are the geniuses!</p>
                </div>

                <div class="col-md-3 ml-auto">
                    <h3>Hubungi Kami</h3>
                    <ul class="list-unstyled footer-links">
                        <p><b>CV.INDO OTOGENIUS</b></p>
                        <p>Genius Variasi</p>
                        <p>Jl. Veteran Selatan No.182</p>
                        <p>Makassar, Indonesia.</p>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>Temukan Kami</h3>
                    <p><img src="front-end/images/socialmedia/instagram.png" style="width: 9%"><a
                            href="https://www.instagram.com/geniusvariasi/" target="_blank"> @geniusvariasi</a></p>
                    <p><img src="front-end/images/socialmedia/whatsapp.png" style="width: 9%"><a
                            href="https://wa.me/6281340304070" target="_blank"> +6281340304070</a></p>
                    <p><img src="front-end/images/socialmedia/gmail.png" style="width: 9%"><a href="mailto:#" target="_blank">
                            hello@genius.com</a></p>
                </div>

            </div>

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="icon-heart"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &
                            develop by <a href="http://metrotechdigital.asia" target="_blank">MetroTech Digital
                                Asia.</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>



</div> <!-- .site-wrap -->


<!-- Include Footer -->
<%- include front-end/layout/footer.ejs %>